/*Whole background is affected by this body */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body{
    background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  
            
}
a {
  color: #FFF;
}
/* a:hover {
   color: #00F
} */
.aboutustextcolor{
      margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E2DF;
  /* background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%); */
  color: 	#EE4C7C;
  /* background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% ); */
}
.login-text{
    font-weight: bold;
}
.nav-custom{
    color:rgb(68, 68, 68) !important;
    text-decoration: inherit !important;
}

.admin-link{
    text-decoration: inherit !important;
    color: green;
}

.admin-link:hover{
    color:black;
}

.login-box{
    display: block;
    min-height: 350px;

    width: 90%;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}


.register-box{
    display: block;
    min-height: 500px;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}


.event-box{
    display: block;
    min-height: 400px;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}

.mini-box{
     
    display: block;
    position: absolute;
    top: 20%;
    left: 18%;

}


.reg-mini-box{
    border: 1px solid black;
    display: block;
    position: absolute;
    top: 20%;
    left: 18%;

}

.gradient-border {
    --borderWidth: 3px;
  
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    color: white;
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 250% 200%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  

.card-text{
    color: black;   
    font-weight: bold;
}

.card-text:hover {
 color:white;
 text-decoration: none;
}



 
.card-custom{
    border: none !important;
    background-color:lightgray ;
    color: aliceblue;
    font-size:14px;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 5px 5px 18px rgb(158, 158, 158);
}

.card-custom:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
}

.img-logo{
     
    display: inline;
    margin-left: auto;
}

 

.btn-custom{
    width: 400px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 50px;
    margin: auto;
    display: block;
}

.containernavbhar{
  background-color: palevioletred;
}

.classfontfamily{
    font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
}

.classtablefont{
    font-family: 'Fira Sans', cursive;
	font-size: 40px;
	text-align: center;
}




/* LOGIN REGISTER TEMPLATE */


.user_card {
    width: 650px;
    height: fit-content;
     margin-top: 10%;
     margin-left: 35%;
    justify-content: center;
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
  
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}


/* .back_to_top {
    width: 40px;
    height: 50px;
    position: sticky !important;
    border: 1px solid transparent !important;
    border-radius: 50% !important;
    bottom: 2%;
    left:150%;
    background-color: #1266f1 !important;
} */

.back_to_top svg {
    color: #fff;
}

.back_to_top:hover {
    background-color: #0e52c1 !important;
}


.two {
    background-color: #FFEBCD;
  }
  
  .three {
    background-color: #7FDBFF;
  }
  
  .four {
    background-color: #F7CAC9;
  }
  
  .five {
    background-color: #f7ffc4;
  }
  .six {
    background-color:lightcyan;
  }
   .grandmaster{
    color: red;
    
   }
   .master{
    color:orange
   }
   .specialist{
    color: cyan;
   }
   .apprenitce{
    color:green
   }
   .beginner{
    color:grey
   }

  .tilt-left {
    transform: perspective(500px);
    transform-style: preserve-3d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .tilt-image-left {
    width: 90vh;
    position: absolute;
    display: inline-block;
    transform: rotateX(0deg) rotatey(20deg);
  }


  
.tilt-right {
    transform: perspective(500px);
    transform-style: preserve-3d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .tilt-image-right {
    width: 90vh;
    position: absolute;
    display: inline-block;
    transform: rotateX(0deg) rotatey(-20deg);
  }
  


/*PrganizationList Register */
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}