
body{
	background: #ff5f6d; /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #ff5f6d, #ffc371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login-text{
    font-weight: bold;
}
.nav-custom{
    color:rgb(68, 68, 68) !important;
    text-decoration: inherit !important;
}

.admin-link{
    text-decoration: inherit !important;
    color: green;
}

.admin-link:hover{
    color:black;
}

.login-box{
    display: block;
    min-height: 350px;

    width: 90%;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}


.register-box{
    display: block;
    min-height: 500px;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}


.event-box{
    display: block;
    min-height: 400px;
    max-width: 600px;
    border: 1px solid rgb(156, 156, 156);
    padding: 20px;
    position: relative;
}

.mini-box{
     
    display: block;
    position: absolute;
    top: 20%;
    left: 18%;

}


.reg-mini-box{
    border: 1px solid black;
    display: block;
    position: absolute;
    top: 20%;
    left: 18%;

}





.card-text{
    color: black;   
    font-weight: bold;
}


 
.card-custom{
    border: none !important;
    background-color:aqua ;
    color: aliceblue;
    font-size:14px;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 5px 5px 18px rgb(158, 158, 158);
}

.card-custom:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
}

.img-logo{
     
    display: inline;
    margin-left: auto;
}

 

.btn-custom{
    width: 400px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 50px;
    margin: auto;
    display: block;
}

.containernavbhar{
  background-color: palevioletred;
}

.classfontfamily{
    font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
}

.classtablefont{
    font-family: 'Fira Sans', cursive;
	font-size: 40px;
	text-align: center;
}


/* LOGIN REGISTER TEMPLATE */


.user_card {
    width: 550px;
    height: fit-content;
     margin-top: 10%;
     margin-left: 35%;
    justify-content: center;
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}


.back_to_top {
    width: 40px;
    height: 50px;
    position: sticky !important;
    border: 1px solid transparent !important;
    border-radius: 50% !important;
    bottom: 2%;
    left:100%;
    background-color: #1266f1 !important;
}

.back_to_top svg {
    color: #fff;
}

.back_to_top:hover {
    background-color: #0e52c1 !important;
}


